# Archivos y carpetas de configuración
.idea/
.kotlin/
*.iml

# Archivos de compilación
/build/
.gradle/
.externalNativeBuild/
.cxx/

# Archivos del sistema
.DS_Store
Thumbs.db

# Otros
local.properties
captures/
*.log
